@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="BowlingApp">
    
    <div data-ng-view>
        
    </div>
</div>
@section scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/BowlingApp")
}